@import url('https://fonts.googleapis.com/css?family=BioRhyme|Bungee|Monoton');
h1, .navbar-brand {
    font-family: 'Monoton', cursive !important;
}
:root{
    --cor1: #011621;
    --cor2: #040723;
    --cor3: #332500;
    --cor4: #331C00;
    /* rgba ,21 */
    --icor1: #01162136;
    --icor2: #04072336;
    --icor3: #33250036;
    --icor4: #331C0036;
}
.monoton{
    font-family: 'Monoton',cursive;
}
h1 {
    font-size: 2vw !important;
}

body {
    font-family: 'bungee', cursive;
}

.bio {
    font-family: 'bungee', cursive;
}

p {
    font-family: 'BioRhyme', serif !important;
}

::-webkit-scrollbar {
    display: none;
}

.navbar {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
}
/*DIV*/
.nmobi li a{
    padding: 0.2rem  0.2rem;
}
/*UL*/
#nmobi{
    margin: 0 5vw !important;
    font-size: 2.5vw; 
}
#nmobi img{
    width: 5vw;
    height: 100%;
}
.navbar-toggler-icon {
    background-image: url(../img/nav-arrow-down.png) !important;
    height: 2vh !important;
    vertical-align: top !important;
}
.jnavbar-toggler-icon { 
    height: 4vh !important;
    background-image: url(../img/nav-arrow-up.png) !important;
}
.navbar-toggler {
    height: 2vh !important;
    border-color: rgba(0, 0, 0, 0) !important;
    border: none;
    padding: 0 !important;
}

.navbar-brand {
    font-size: 1rem !important;
    word-spacing: 5px;
    display: block;
}

.btn-light {
    -webkit-animation: cor 15s ease infinite;
            animation: cor 15s ease infinite;
}

.gradiente {
    background: -webkit-gradient(linear, left top, right top, from(var(--cor1)), color-stop(var(--cor2)), color-stop(var(--cor3)), to(var(--cor4))) !important;
    background: -webkit-linear-gradient(left, var(--cor1), var(--cor2), var(--cor3), var(--cor4)) !important;
    background: -o-linear-gradient(left, var(--cor1), var(--cor2), var(--cor3), var(--cor4)) !important;
    background: linear-gradient(90deg, var(--cor1), var(--cor2), var(--cor3), var(--cor4)) !important;
    background-size: 400% 100% !important;
    -webkit-animation: Gradient 60s ease infinite !important;
            animation: Gradient 60s ease infinite !important;
    border: none !important;
}

*:focus {
  outline: 0!important;
}

.btn-primary {
    border: none;
}

.lead {
    display: inline-block;
    width: 90%;
}

.cima {
    position: relative;
    width: 100vw;
    -webkit-box-shadow: 0 -5px 5px rgba(0, 0, 0, 0.25);
            box-shadow: 0 -5px 5px rgba(0, 0, 0, 0.25);
    /*Sombra Cima*/
}

.baixo {
    position: relative;
    width: 100vw;
    -webkit-box-shadow: 0 5px 5px rgba(0, 0, 0, 0.25);
            box-shadow: 0 5px 5px rgba(0, 0, 0, 0.25);
    /*sombra baixo*/
}

.jbg {
    background-image: url(../img/jheader.jpg);
    background-size: cover;
    background-position: center;
    color: white;
    height: 91.6vh;
    width: 100vw;
}

.jheader {
    width: 100vw;
    height: 100%;
    padding: 20vh 5vw;
    background: -webkit-gradient(linear, left top, right top, from(var(--icor1)), color-stop(var(--icor2)), color-stop(var(--icor3)), to(var(--icor4)));
    background: -webkit-linear-gradient(left, var(--icor1), var(--icor2), var(--icor3), var(--icor4));
    background: -o-linear-gradient(left, var(--icor1), var(--icor2), var(--icor3), var(--icor4));
    background: linear-gradient(90deg, var(--icor1), var(--icor2), var(--icor3), var(--icor4));
    background-size: 400% 100%;
    -webkit-animation: Gradient 60s ease infinite;
            animation: Gradient 60s ease infinite;
}

.jheader hr {
    background-color: white;
    color: white;
}

.jheader h1, p {
    display: inline;
}

.jheader h1 {
    font-size: 2.5rem !important;
}

.jresumo {
    padding: 4vh 0 3vh 0;
}
.jresdiv {
    width: 80vw;
    margin: 2vh auto;
    padding: 0 0 2vh 0;
}
.jfotod {
    border-radius: 10px;
    margin-bottom: 3vh;
}

.jfotod figure, img {
    margin: 0 auto !important;
    display: block;
}
.jfotod img{
    -webkit-box-shadow: 0 0 5px 3px rgba(0, 0, 0, .25);
            box-shadow: 0 0 5px 3px rgba(0, 0, 0, .25);
}
ul.timeline {
    padding: 0px;
    list-style-type: none;
    position: relative;
}
ul.timeline:before {
    content: ' ';
    display: inline-block;
    position: absolute;
    left: 29px;
    width: 2px;
    height: 100%;
    z-index: 400;
}
ul.timeline > li {
    margin: 20px 0;
}
ul.timeline > li:before {
    content: ' ';
    display: inline-block;
    position: absolute;
    border-radius: 50%;
    border: 3px solid gradient;
    left: 20px;
    width: 20px;
    height: 20px;
    z-index: 400;
}

#cer {
    padding: 0px 0px 5vh 0px;
}

.jcertificados {
    color: white;
    background-color: gray;
    padding: 5vh 0;
}

.jcert div {
    padding: 5px;
}

.jcert img {
    height: 100px;
    width: 100px;
    border-radius: 3%;
    -webkit-box-shadow: 5px 5px 5px rgba(0, 0, 0, .25);
            box-shadow: 5px 5px 5px rgba(0, 0, 0, .25);
    margin: 5vh 0;
}
.jprojetos {
    padding: 3vh 0 1.5vh 0 !important;
}

.jproj{
    margin: 0;
    padding: 0;
}
.jproj div{
    margin: 1vh 0;
}
.jproj a{
    margin: 0 auto;
    max-width: 100px;
}
.jproj img{
    max-width: 90%;
}
.jproj h3{
    font-family: 'BioRhyme';
}
.projtext{
    width: 80%;
    margin: 0 auto 2vh !important;
}
.jcontatos {
    color: white;
    background: url(../img/jcontato.jpg);
    background-size: cover !important; 
    padding: 1vh 0 5vh;
}
.jcontatos h3{
    padding: 2vh 2vw;
    margin: auto;
    background: rgba(0, 0, 0, .8);
    display: inline;
    border-radius: 5px;
}
button:focus {
    outline: none !important;
}
.sombra {
    position: relative;
    height: 100px;
    width: 100px;
    margin: -65% 0 18% -1%;
    border-radius: 3px;
    -webkit-box-shadow: 5px 5px rgba(0, 0, 0, .25);
            box-shadow: 5px 5px rgba(0, 0, 0, .25);
    -webkit-filter: blur(1px);
            filter: blur(1px);
    display: none;
}
#con a{
    color: white;
}
.jft, .jftt{
    padding-top: 3vh;
    }
.jfooter{
    padding: 3vh 0;
}
.jnome,.jnome a{
    -webkit-animation: cor 60s ease infinite;
            animation: cor 60s ease infinite;
}
.modal a,.modal a:hover{
    color: black;
    text-decoration: none;
}
.modal img{
    width: 25px;
    height: 25px;
    margin: 0 3% 0 5%!important;
}
.style-none,.style-none:hover {
    text-decoration: none;
    color: white;
}
@media(max-width:576px) {
    h1 {
        font-size: 1.5rem !important;
    }
    .jcontatos{        
    text-align: center;
    }
}
/* XS*/

@media(min-width:576px) {
    h1 {
        font-size: 1.8rem !important;
    }
    .jcontatos{
        text-align: center;}
}

/* SM*/

@media(min-width:768px) {
    .jheader {
        padding: 32vh 10vw;
    }
    h1 {
        font-size: 2rem !important;
    }
    .jcontatos{
        text-align: left;
    }
}

/* MD*/

@media(min-width:992px) {
}

/* lg*/

@media(min-width:1200px) {}

@-webkit-keyframes Gradient {
    0% {
        background-position: 0% 50%
    }
    50% {
        background-position: 100% 50%
    }
    100% {
        background-position: 0% 50%
    }
}

@keyframes Gradient {
    0% {
        background-position: 0% 50%
    }
    50% {
        background-position: 100% 50%
    }
    100% {
        background-position: 0% 50%
    }
}

@-webkit-keyframes cor {
    0% {
        color: rgba(113, 238, 82);
    }
    16.5% {
        color: var(--cor2);
    }
    33% {
        color: var(--cor3);
    }
    39.5% {
        color: var(--cor4);
    }
    66% {
        color: var(--cor3);
    }
    82.5% {
        color: var(--cor2);
    }
    100% {
        color: var(--cor1);
    }
}

@keyframes cor {
    0% {
        color: var(--cor1);
    }
    16.5% {
        color: var(--cor2);
    }
    33% {
        color: var(--cor3);
    }
    39.5% {
        color: var(--cor4);
    }
    66% {
        color: var(--cor3);
    }
    82.5% {
        color: var(--cor2);
    }
    100% {
        color: var(--cor1);
    }
}