@import url('https://fonts.googleapis.com/css?family=BioRhyme|Bungee|Monoton');
h1, .navbar-brand {
    font-family: 'Monoton', cursive !important;
}
.monoton{
    font-family: 'Monoton',cursive;
}
h1 {
    font-size: 2vw !important;
}

body {
    font-family: 'bungee', cursive;
}

.bio {
    font-family: 'bungee', cursive;
}

p {
    font-family: 'BioRhyme', serif !important;
}

::-webkit-scrollbar {
    display: none;
}
.navbar {
    flex-direction: column;
    text-align: center;
}

.navbar-toggler-icon {
    background-image: url(../img/nav-arrow-down.png) !important;
    height: 2vh !important;
    vertical-align: top !important;
}
.jnavbar-toggler-icon { 
    height: 4vh !important;
    background-image: url(../img/nav-arrow-up.png) !important;
}
.navbar-toggler {
    height: 2vh !important;
    border-color: rgba(0, 0, 0, 0) !important;
    border: none;
    padding: 0 !important;
}

.navbar-brand {
    font-size: 1rem !important;
    word-spacing: 5px;
    display: block;
}

.btn-light {
    animation: cor 15s ease infinite;
}

.gradiente {
    background: linear-gradient(90deg, #EE7752, #E73C7E, #23A6D5, #23D5AB) !important;
    background-size: 400% 100% !important;
    animation: Gradient 15s ease infinite !important;
    border: none !important;
}

*:focus {
  outline: 0!important;
}

.btn-primary {
    border: none;
}

.lead {
    display: inline-block;
    width: 90%;
}

.cima {
    position: relative;
    width: 100vw;
    box-shadow: 0 -5px 5px rgba(0, 0, 0, 0.25);
    /*Sombra Cima*/
}

.baixo {
    position: relative;
    width: 100vw;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.25);
    /*sombra baixo*/
}

.jbg {
    background-image: url(../img/jheader.jpg);
    background-size: cover;
    background-position: center;
    color: white;
    height: 91.6vh;
    width: 100vw;
}

.jheader {
    width: 100vw;
    height: 100%;
    padding: 20vh 5vw;
    background: linear-gradient(90deg, rgba(238, 119, 83, 0.21), rgba(231, 60, 125, 0.21), rgba(35, 166, 213, .21), rgba(35, 213, 171, .21));
    background-size: 400% 100%;
    animation: Gradient 15s ease infinite;
}

.jheader hr {
    background-color: white;
    color: white;
}

.jheader h1, p {
    display: inline;
}

.jheader h1 {
    font-size: 2.5rem !important;
}

.jresumo {
    padding: 4vh 0 3vh 0;
}

.jresdiv {
    width: 80vw;
    margin: 3vh auto;
    padding: 2vh 0;
}
.jfotod {
    float: right;
    border-radius: 10px;
    padding: 0 !important;
}

.jfotod figure, img {
    margin: 0 auto !important;
    box-shadow: 0 0 5px 3px rgba(0, 0, 0, .25);
}

.jfotom {
    margin-bottom: 3vh;
}

.jfoto {
    display: block;
    margin: -5vh auto 3vh auto!important;
    border-radius: 10px;
}

#cer {
    padding: 0px 0px 5vh 0px;
}

.jcertificados {
    color: white;
    background-color: gray;
    padding: 5vh 0;
}

.jcert div {
    padding: 5px;
}

.jcert img {
    height: 100px;
    width: 100px;
    border-radius: 3%;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, .25);
    margin: 5vh 0;
}

.jprojetos {
    padding: 3vh 0 1.5vh 0 !important;
}
.jproj div{
    margin: 2vh 0;
    padding: auto 0;
}
.jproj img{
    height: auto;
    width: auto;
    margin: auto 0;
    max-width: 500px;
}
.jcontatos {
    color: white;
    background-image:  url(../img/jcontato.jpg);
    background-size: cover !important; 
    padding: 5vh 0;
}
.jcontatos h3{
    padding: 2vh 2vw;
    margin: auto;
    background: rgba(0, 0, 0, .8);
    display: inline;
    border-radius: 5px;
}
button:focus {
    outline: none !important;
}
form{
    margin: auto;
    max-width: 400px;
}
.jfooter{
    background: black;
}
input, textarea{
    border-radius: 0 !important;
    padding: 2vh 2vw !important;
    background-color: rgba(0, 0, 0, 0.75) !important;
    border: none !important;
    color: white !important;
}
.form-group{
    margin-bottom: 0 !important;
}
::placeholder{
    color: rgb(175, 175, 175) !important;
}
.sombra {
    position: relative;
    height: 100px;
    width: 100px;
    margin: -65% 0 18% -1%;
    border-radius: 3px;
    box-shadow: 5px 5px rgba(0, 0, 0, .25);
    filter: blur(1px);
    display: none;
}

@media(max-width:576px) {
    h1 {
        font-size: 1.5rem !important;
    }
    
.jproj img{
    height: auto;
    width: 95%;
}
}

/* XS*/

@media(min-width:576px) {
    h1 {
        font-size: 1.8rem !important;
    }

    .jproj img{
        height: auto;
        width: 85%;
    }
}

/* SM*/

@media(min-width:768px) {
    .jheader {
        padding: 32vh 10vw;
    }
    h1 {
        font-size: 2rem !important;
    }
    
.jproj img{
    height: auto;
    width: 75%;
}
}

/* MD*/

@media(min-width:992px) {
    
.jproj img{
    height: auto;
    width: 65%;
}
}

/* lg*/

@media(min-width:1200px) {}

@keyframes Gradient {
    0% {
        background-position: 0% 50%
    }
    50% {
        background-position: 100% 50%
    }
    100% {
        background-position: 0% 50%
    }
}

@keyframes cor {
    0% {
        color: #EE7752;
    }
    16.5% {
        color: #E73C7E;
    }
    33% {
        color: #23A6D5;
    }
    39.5% {
        color: #23D5AB;
    }
    66% {
        color: #23A6D5;
    }
    82.5% {
        color: #E73C7E;
    }
    100% {
        color: #EE7752;
    }
}
