@import url('https://fonts.googleapis.com/css?family=BioRhyme|Bungee|Monoton');
/* HTML TAGS */
::-webkit-scrollbar{
    display: none;
}
body, html {
    margin: 0px;
    padding: 0px;
}

*:focus {
    outline: 0!important;
}
input {
    border: none !important;
}

/* FRAMEWORKS */

.navbar-nav.navbar-center {
    position: relative;
    left: 50%;
    transform: translatex(-50%);
    margin-top: 1vh;
    font-family: 'bungee', cursive;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,127,39,1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E") !important;
}

.navbar {
    padding: 0px 1rem !important;
}

/* ID CLASS*/

.calculadora {
    margin-top: 40px;
    border: solid 1px #000;
    padding: 20px;
    background-color: #2E2E2E;
    border-radius: 10px;
    box-shadow: 1px 1px 5px #000;
  }

  .btncalc {
    width: 60px;
    height: 50px;
    margin: 5px;
    box-shadow: 1px 1px 1px #000;
  }

  .clear {
    width: 130px;
  }

  .enter {
    height: 110px;
  }

  .zero {
    width: 130px;
  }

  .resultado {
    text-align: right;
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 20px;
    border: solid 1px #000;
    box-shadow: 1px 1px 1px #000;
  }


.box {
    padding: 0 !important;
}

.titulo {
    font-family: 'bungee', cursive;
    background: rgb(255, 127, 39);
    width: 100%;
}

.titulo h1 {
    margin: 0;
}
.titulo2{
    font-family: 'bungee', cursive;
}
.navbtn {
    margin: 0 auto !important;
    border: none !important;
}

.navjs a {
    color: rgb(255, 127, 39) !important;
}
.nopadding {
    padding: 0 !important;
 }
.btncal{
    width: 100%;
    align-items: center;
    justify-content: center;
}